#include "Resource.h"

BMP_LIST       BITMAP DISCARDABLE     "HGooey Files/Images/list.bmp"
BMP_CURSOR     BITMAP DISCARDABLE     "HGooey Files/Images/cursor.bmp"
BMP_FONT       BITMAP DISCARDABLE     "HGooey Files/Images/font.bmp"
