a {
	color: #086B94;
	text-decoration: none;
}

input {
	vertical-align: middle;
}

.valid,
.invalid {
	width: 88%;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	border: 2px;
	border-style: solid;
	background-color: #E2E2E2;
}

.valid {
	color: #006600;
	border-color: green;
}

.invalid {
	color: #FF0000;
	border-color: red;
}

.hidden {
	display: none;
}

.root {
	overflow: auto;
	background-color: #AAAAAA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.header,
.subheader {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	margin: 3px 3px 0px 3px;
}

.header {
	background-color: #000000;
}

.subheader {
	background-color: #696969;
}

.header a,
.subheader a {
	color: #FFFFFF;
	text-decoration: none;
}

.body {
	overflow: auto;
	text-align: left;
	margin: 3px 3px 3px 3px;
}

.inline {
	overflow: auto;
	float: left;
	width: 100%;
	background-color: #EEEEEE;
}

.data ,
.data-indent
{
	font-size: 12px;
	line-height: 22px;
	margin: 2px 5px 2px 5px;
}

.data-indent {
	margin-left: 40px;
}